/* n'oubliez pas de parcourir la documentation 
https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Grid_Layout/Les_concepts_de_base
*/

/* mise en place de la grille */
#basedelagrille{
    display: grid;
    /* configuration de la grille en 3 colonnes */
    ??
}

/* positionnement du titre pour occuper toute une ligne */

#titre{
    grid-row: ?? ;
}

/* positionnement des tuiles en 3x3 */

??