/* n'oubliez pas de parcourir la documentation 
https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Grid_Layout/Les_concepts_de_base
*/

/* mise en place de la grille */
#basedelagrille{
    display: grid;
    /* configuration de la grille en 3 colonnes */
    grid-template-columns: 1fr 1fr 1fr;
}

/* positionnement du titre pour occuper toute une ligne */

#titre{
    grid-column: 1 / 4;
}

/* positionnement des tuiles en 3x3 */

